<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Signin Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>
    <!-- Custom styles for this template -->
    <!--    <link href="/stylesheets/css/sign-in.css" rel="stylesheet">-->
</head>
<body class="text-center">

<%- include('head.ejs') %>

<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h2>让您拥有更好的知识管理体验——介绍我们的知识社区</h2>

            <p class="lead">在信息爆炸的时代，我们每天接收到的信息量越来越多，而如何有效地管理这些信息，也成为了我们需要面对的一个挑战。</p>
            <p>如果您和我一样，也经常遇到这样的问题，那么我想为您介绍我们的知识社区。 我们的知识社区是一个开放式的平台，旨在为广大用户提供更好的知识管理体验。我们的平台支持用户以博客的形式分享自己的知识和经验，也支持用户阅读、点赞和评论其他用户的博客。在这里，您可以与全球的用户交流、分享和探讨各种知识领域的问题。
                相比其他的知识管理平台，我们的知识社区具有以下优势：
                简单易用：我们的平台非常易于使用，您只需要注册一个账号，就可以开始使用。同时，我们也提供了完善的博客编辑和管理工具，让您可以更加方便地管理和分享自己的知识。
                全球用户：我们的用户来自世界各地，无论您在哪里，都可以与全球用户交流和分享知识。这也是我们平台最大的优势之一，您可以与来自不同文化和背景的人交流和学习，拓宽自己的视野和知识面。
                丰富的内容：我们的知识社区涵盖了各种领域的知识和经验，包括科技、文化、艺术、生活等等。不论您是对某一领域非常感兴趣，还是希望了解更多不同领域的知识，我们的平台都可以满足您的需求。
                互动性强：我们的知识社区非常注重用户之间的互动，您可以在博客下面留言、点赞或分享，也可以通过私信或者讨论组与其他用户交流。我们相信，知识的传播和分享需要有人与人之间的互动和交流，这也是我们平台的核心理念。
                如果您也对我们的知识社区感兴趣，那就快来注册一个账号，开始和全球用户一起分享和探讨知识吧！我们期待着您的加入。</p>
            <!--            <button class="btn btn-primary btn-lg" type="button">Example button</button>-->
        </div>
    </div>
</div>

<%- include('foot.ejs') %>
</body>
</html>