<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login and Registration Form</title>
    <style>
        /* 样式可以自行修改 */
        form {
            width: 300px;
            margin: 0 auto;
            text-align: center;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        .container {
            padding: 16px;
        }
    </style>
</head>
<body>

<form action="/queryByAddress" method="get">
    <label for="address"><b>your address</b>
        <input type="text" name="address">
    </label>
    <button type="submit">查询</button>
</form>
</body>
</html>
